.n1ed_dashboard_apiKey_and_domains {
    font-size: 20px;
    margin-bottom: 5px;
    width: 200px;
}

.n1ed_dashboard_edit_conf_toolbar {
    margin-left: 0;
    margin-top: 20px;
    flex: 0 0 200px;
    padding-left: 20px;
}